<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <span></span>
   <span class="toolbar-flex">{{ title }}</span>
    <nav mat-tab-nav-bar aria-label="weather navigation links" [backgroundColor]="tabNavBackground">
        <a mat-tab-link routerLink="/dashboard">Dashboard</a>
        <a mat-tab-link routerLink="/add">Add Videos</a>
        <a mat-tab-link routerLink="/account">My Account</a>
    </nav>
</mat-toolbar>
  <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="1px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%"><mat-card><mat-list>
 <mat-list-item> Pepper </mat-list-item>
 <mat-list-item> Salt </mat-list-item>
 <mat-list-item> Paprika </mat-list-item>
</mat-list></mat-card></div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3"><mat-card>Simple card</mat-card></div>
  <div class="item item-3" fxFlex><mat-card>Simple card</mat-card></div>
</div>
<router-outlet></router-outlet>
